/*  your css code here. If applicable */
/*  your css code here. If applicable */
.main{
	width:400px;
	height:200px;
	border:3px solid black;
	background-color:lightgray;
	border-radius:30px;
	margin:50px auto;
	text-align:center;
	display:flex;
	justify-content:center;
}

.circle{
			display: inline-block;        
            width: 80px;                  
            height: 80px;                 
            border-radius: 50%;           
            margin: 10px;   
			margin-top:50px;
			
}

#c1{
	background-color:green;
	
	
}
 #c2{
	 background-color:yellow;
	
 }

#c3{
	
	background-color:red;
}