/*  your css code here. If applicable */
/*  your css code here. If applicable */
.main{
	width:500px;
	height:200px;
	border:2px solid balck;
	background-color:lightgray;
	border-radius:30px;
	margin:30px;
	display:flex;
}

.circle{
	width:100px;
	height:100px;
	border-radius:50%;
	margin-left:50px;
	margin-top:50px;
	
}

#c1{
	background-color:green;
	
	
}
 #c2{
	 background-color:yellow;
	
 }

#c3{
	
	background-color:red;
}