/*  your css code here. If applicable */
/*  your css code here. If applicable */
.main{
	width:550px;
	height:250px;
	border:2px solid balck;
	background-color:lightgray;
	border-radius:30px;
	margin:30px;
	display:flex;
}

.circle{
	width:150px;
	height:150px;
	border-radius:50%;
	margin:15px;
	margin-top:29px;
}

#c1{
	display:flex;
	background-color:green;
	justify-content:center;
	padding-top:4px;
}
 #c2{
	 background-color:yellow;
	
 }

#c3{
	
	background-color:red;
}